<div class="container">
   <h1 class="text-center">How We Met</h1>

   <div class="d-flex justify-content-center">
      <img class="" src="/assets/images/our-story-pic.jpg" alt="" style="max-height: 500px; max-width: 500px;">
   </div>
   <h3>His side</h3>
   <h3>Her side</h3>

   <h1>How He Asked</h1>
   <h3>His side</h3>
   <h3>Her side</h3>
  <p>
      Kollen had never visited San Fransisco (one of my favorite cities) so I booked a weekend trip there to show him around, little did I know he had a plan of his own.
      Although our romantic get-a-way was totally crashed by my parents for an alleged fishing trip, we managed to explore sites and eat delicious food on our own. In the 
      middle of the weekend we grabbed lunch with Dillon (our best man) who recommended we visit Buena Vista Park. The Lyft ride there was totally normal, until it came time 
      to drop us off, Kollen insisted the driver stop at the designated location even though there were signs pointing to the park entrances early on, as we began the trek up 
      hill Kollen ignored the rose pedaled path, I -the considerate one- insisted he did not step on the flowers I assumed were going to be used for someone else. He stopped in 
      the middle of a beautifully shaped heart made out of roses (carefully prepared by my parents, who I’m so happy were there, Dillon and kind strangers my mom somehow convinced 
      to help set up). Kollen said some cute stuff, got down on one knee and asked me to marry him, in complete shock I paused for a little too long while to realize that all my 
      dreams were actually coming true and I easily said YES!
  </p>
</div>

