<div class="container mt-5">
  <div class="text-center">
    <h1>Bridesmaids</h1>
  </div>
  <section class="">
      <div class="card-deck">
          <div class="card mb-4">
              <img class="card-img-top img-fluid" src="/assets/images/natalie.jpg" alt="Card image cap">
              <div class="card-body">
                  <h4 class="card-title">Natalie Henes</h4>
                  <p class="card-text">Maid of Honor</p>
              </div>
          </div>
          <div class="card mb-4">
              <img class="card-img-top img-fluid" src="/assets/images/lauren.jpg" alt="Card image cap">
              <div class="card-body">
                  <h4 class="card-title">Lauren Spintig</h4>
                  <p class="card-text">Maid of Honor</p>
              </div>
          </div>
          <div class="w-100 d-none d-sm-block d-lg-none"></div>
          <!-- <div class="w-100 d-none d-sm-block d-md-none"></div> -->
          <div class="card mb-4">
              <img class="card-img-top img-fluid" src="/assets/images/catherine.jpg" alt="Card image cap">
              <div class="card-body">
                  <h4 class="card-title">Catherine Bullington</h4>
                  <p class="card-text">Bridesmaid</p>
              </div>
          </div>
          <div class="w-100 d-none d-lg-block"><!-- wrap every 3 on md--></div>
          <div class="card mb-4">
              <img class="card-img-top img-fluid" src="/assets/images/kayla.jpg" alt="Card image cap">
              <div class="card-body">
                  <h4 class="card-title">Kayla Stebbing</h4>
                  <p class="card-text">Bridesmaid</p>
              </div>
          </div>
          <!-- <div class="w-100 d-none d-sm-block d-lg-none"></div>
           <div class="w-100 d-none d-lg-block d-xl-none"></div> -->
           <div class="w-100 d-none d-sm-block d-lg-none"></div>
          <div class="card mb-4">
              <img class="card-img-top img-fluid" src="/assets/images/kristen.JPG" alt="Card image cap">
              <div class="card-body">
                  <h4 class="card-title">Kristen Bolte</h4>
                  <p class="card-text">Bridesmaid</p>
              </div>
          </div>
          <!-- <div class="w-100 d-none d-xl-block"></div> -->
          <div class="card mb-4">
              <img class="card-img-top img-fluid" src="/assets/images/cami.jpg" alt="Card image cap">
              <div class="card-body">
                  <h4 class="card-title">Cami Perez</h4>
                  <p class="card-text">Bridesmaid</p>
              </div>
          </div>
          <!-- <div class="w-100 d-none d-sm-block d-md-none"></div>
          <div class="w-100 d-none d-md-block d-lg-none"></div> -->
      </div>
  </section>
  <div class="text-center">
      <h1>Groomsmen</h1>
  </div>
  <section class="">
      <div class="card-deck">
          <div class="card mb-4">
              <img class="card-img-top img-fluid" src="/assets/images/dillon.jpg" alt="Card image cap">
              <div class="card-body">
                  <h4 class="card-title">Dillon Luther</h4>
                  <p class="card-text">Best Man</p>
              </div>
          </div>
          <div class="card mb-4">
              <img class="card-img-top img-fluid" src="//placehold.it/500x280" alt="Card image cap">
              <div class="card-body">
                  <h4 class="card-title">Robert Heng</h4>
                  <p class="card-text">Groomsman</p>
              </div>
          </div>
          <div class="w-100 d-none d-sm-block d-lg-none"></div>
          <!-- <div class="w-100 d-none d-sm-block d-md-none"></div> -->
          <div class="card mb-4">
              <img class="card-img-top img-fluid" src="//placehold.it/500x280" alt="Card image cap">
              <div class="card-body">
                  <h4 class="card-title">Aaron Hasson</h4>
                  <p class="card-text">Groomsman</p>
              </div>
          </div>
          <div class="w-100 d-none d-lg-block"><!-- wrap every 3 on md--></div>
          <div class="card mb-4">
              <img class="card-img-top img-fluid" src="/assets/images/xavier.jpg" alt="Card image cap">
              <div class="card-body">
                  <h4 class="card-title">Xavier Walker</h4>
                  <p class="card-text">Groomsman</p>
              </div>
          </div>
          <!-- <div class="w-100 d-none d-sm-block d-lg-none"></div>
           <div class="w-100 d-none d-lg-block d-xl-none"></div> -->
           <div class="w-100 d-none d-sm-block d-lg-none"></div>
          <div class="card mb-4">
              <img class="card-img-top img-fluid" src="//placehold.it/500x280" alt="Card image cap">
              <div class="card-body">
                  <h4 class="card-title">Stephen Muldoon</h4>
                  <p class="card-text">Groomsman</p>
              </div>
          </div>
          <!-- <div class="w-100 d-none d-xl-block"></div> -->
          <div class="card mb-4">
              <img class="card-img-top img-fluid" src="//placehold.it/500x300" alt="Card image cap">
              <div class="card-body">
                  <h4 class="card-title">Stephen Tafoya</h4>
                  <p class="card-text">Groomsman</p>
              </div>
          </div>
          <!-- <div class="w-100 d-none d-sm-block d-md-none"></div>
          <div class="w-100 d-none d-md-block d-lg-none"></div> -->
      </div>
  </section>
</div>





