
<div class="container mt-5">
  <div class="text-center"><h1>Photos</h1></div>
    
  <!-- The Modal -->
<div id="myModal" class="modal" (click)="closeModal()">

    <!-- The Close Button -->
    <!-- <a (click)="closeModal()">
        <span class="close">&times;</span>
    </a> -->
    
  
    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="img01" src="{{srcValue}}">
  
    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
  </div>


  <div class="row pb-5">
    <!-- <div class="col-12 col-sm-6 col-lg-4">
      <a (click)="expandImage('myImg')">
          <img id="myImg" class="img-thumbnail" src="/assets/images/natalie.jpg" alt="Natalie">
      </a>
      
    </div> -->
    <div class="col-12 col-sm-6 col-lg-4 mt-4 mt-lg-1 cursor-pointer">
        <a (click)="expandImage('\/assets\/images\/photos\/photo_1.jpg')">
        <img id="img1" class="img-thumbnail" src="/assets/images/photos/photo_1.jpg" alt="">
       </a>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 mt-4 mt-lg-1 cursor-pointer">
        <a (click)="expandImage('\/assets\/images\/photos\/photo_2.jpeg')">
        <img id="" class="img-thumbnail" src="/assets/images/photos/photo_2.jpeg" alt="">
      </a>
      </div>
    <div class="col-12 col-sm-6 col-lg-4 mt-4 mt-lg-1 cursor-pointer">
        <a (click)="expandImage('\/assets\/images\/photos\/photo_3.jpeg')">
      <img id="" class="img-thumbnail" src="/assets/images/photos/photo_3.jpeg" alt="">
    </a>
    </div>
    
    <div class="col-12 col-sm-6 col-lg-4 mt-4 cursor-pointer">
        <a (click)="expandImage('\/assets\/images\/photos\/photo_4.jpeg')">
      <img id="" class="img-thumbnail" src="/assets/images/photos/photo_4.jpeg" alt="">
      </a>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 mt-4 cursor-pointer">
        <a (click)="expandImage('\/assets\/images\/photos\/photo_5.jpeg')">
      <img id="" class="img-thumbnail" src="/assets/images/photos/photo_5.jpeg" alt="">
      </a>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 mt-4 cursor-pointer">
          <a (click)="expandImage('\/assets\/images\/photos\/photo_6.jpeg')">
        <img id="" class="img-thumbnail" src="/assets/images/photos/photo_6.jpeg" alt="">
        </a>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 mt-4 cursor-pointer">
          <a (click)="expandImage('\/assets\/images\/photos\/photo_7.jpg')">
        <img id="" class="img-thumbnail" src="/assets/images/photos/photo_7.jpg" alt="">
        </a>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 mt-4 cursor-pointer">
          <a (click)="expandImage('\/assets\/images\/photos\/photo_8.jpeg')">
        <img id="" class="img-thumbnail" src="/assets/images/photos/photo_8.jpeg" alt="">
        </a>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 mt-4 cursor-pointer">
          <a (click)="expandImage('\/assets\/images\/photos\/photo_9.jpeg')">
        <img id="" class="img-thumbnail" src="/assets/images/photos/photo_9.jpeg" alt="">
        </a>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 mt-4 cursor-pointer">
          <a (click)="expandImage('\/assets\/images\/photos\/photo_10.jpeg')">
        <img id="" class="img-thumbnail" src="/assets/images/photos/photo_10.jpeg" alt="">
        </a>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 mt-4 cursor-pointer">
          <a (click)="expandImage('\/assets\/images\/photos\/photo_11.jpeg')">
        <img id="" class="img-thumbnail" src="/assets/images/photos/photo_11.jpeg" alt="">
        </a>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 mt-4 cursor-pointer">
          <a (click)="expandImage('\/assets\/images\/photos\/photo_12.jpeg')">
        <img id="" class="img-thumbnail" src="/assets/images/photos/photo_12.jpeg" alt="">
        </a>
      </div>
  </div>
</div>

