<div class="container mt-5 text-center">
    <h1>Registry</h1>
    <div style="font-size: 18px;">
        <p>We appreciate you joining us for our special day, if you would like to bless us with a gift we are registered at Crate & Barrel and Amazon.</p>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 offset-lg-2">
            <div class="card">
                <img class="card-img-top" src="/assets/images/cratenbarrel.png" alt="Card image cap">
                <div class="card-body">
                  <!-- <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                  <a href="https://www.crateandbarrel.com/gift-registry/cassidy-maturan-and-kollen-dillworth/r6158677" class="btn btn-color" target="_blank">Wedding Registry</a>
                </div>
              </div>
        </div>
        <div class="col-lg-4 col-md-6 pt-3 pt-md-0">
            <div class="card">
                <img class="card-img-top" src="/assets/images/amazon-new.png" alt="Card image cap">
                <div class="card-body">
                  <!-- <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                  <a href="https://www.amazon.com/wedding/registry/3DSG8QY2N05HT?ref=wr_search_page_result_" class="btn btn-color" target="_blank">Wedding Registry</a>
                </div>
              </div>
        </div>
    </div>
</div>