/* You can add global styles to this file, and also import other style files */
html{
    height: 100%;
    overflow-x: hidden;
}
html, body{
    min-height: 100%;
    overflow-x: hidden;
    margin-top: 56px !important;
    font-family: "Comic Sans MS", cursive, sans-serif !important;
    background-color: #e9e9e9 !important;
}
/* sage color #c2ccb8 */