.bg-cover{
    background-image: url('/assets/images/cover-photo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bg-cover2{
    background-color: gray;
    opacity: 0.5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.section{
    position: relative;
}

.section-cover{
    padding-top: 100vh;
}

.bg-text{
    color: #ffffff;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left:40%;
}

@media (min-width: 1200px) { 
    /* .bg-cover{
        background-position: 100% 40%;
    } */
    .bg-cover{
        background-position: 50% 36% !important;
    }

    .cover-text{
        padding-top: 43vh; 
        font-size: 50px; 
        color: #ffffff;
    }
 }

 @media (min-width: 992px) and (max-width: 1199.98px) { 
/* .bg-cover{
        background-position: 100% 40%;
    } */
    .bg-cover{
        background-position: 30% 50% !important;
    }
    .cover-text{
        padding-top: 43vh; 
        font-size: 45px; 
        color: #ffffff;
    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) { 
    .bg-cover{
        background-position: 35% 50% !important;
    }
    .cover-text{
        padding-top: 44vh; 
        font-size: 40px;  
        color: #ffffff;
    }
   }

   @media (min-width: 576px) and (max-width: 767.98px) { 
    .bg-cover{
        background-position: 42% 50% !important;
    }
    .cover-text{
        padding-top: 44vh; 
        font-size: 40px;  
        color: #ffffff;
    }
   }
   @media (max-width: 575.98px) { 
    .bg-cover{
        background-position: 42% 50% !important;
    }
    .cover-text{
        padding-top: 44vh; 
        font-size: 30px;  
        color: #ffffff;
    }
    }
