<section class="section section-cover">
  <div class="bg-cover">
    <div class="d-flex justify-content-center cover-text">
      #aDillworthWaitingFor
    </div>
  </div>
  <div class="bg-cover2">
    <div class="d-flex justify-content-center cover-text">
      #aDillworthWaitingFor
    </div>
  </div>
</section>

<!-- style="height: 200px;" -->
<section class="section section-pad">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-11 offset-md-1 text-spacing text-md-left text-center couple-text">
        Cassidy Maturan
      </div>
    </div>
      <div class="row"> 
        <div class="col-12 text-center couple-text">
            &
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-11 text-md-right text-center text-spacing couple-text">
          Kollen Dillworth
        </div>
    </div>
  </div>
</section>
<hr>

<section class="section section-pad" style="height: 200px;">
  <div class="container-fluid">
    <div class="row pb-2">
      <div class="col-12 text-center couple-text">
        November 7th, 2020
      </div>
    </div>
    <div class="row">
        <div class="col-12 text-center couple-text">
          Mesa, Arizona
        </div>
      </div>
  </div>
</section>