<section class="section section-cover">
  <div class="bg-cover row">
    <div class="col-12 d-flex justify-content-center cover-text">
      #aDillworthWaitingFor
    </div>
  </div>
  <div class="bg-cover2 row">
    <div class="col-12 d-flex justify-content-center cover-text">
      #aDillworthWaitingFor
    </div>
  </div>

</section>

<section class="section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        Kollen Dillworth
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        &
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        Cassidy Maturan
      </div>
    </div>
  </div>
</section>